.container {
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    width: 750px;
}

.container2 {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    
}

@media (max-width: 720px) {
    .container{
        width: 550px;
    }
}

@media (max-width: 580px) {
    .container{
        width: 400px;
    }
}

